<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
</head>
<body>
    <div class="banner">Sales</div>
    <div class="menu">
        @Html.ActionLink("List", "Index")
        &nbsp; 
        @Html.ActionLink("Add", "Create")
    </div>
    <h2>@ViewBag.Title</h2>
    @RenderBody()
  
</body>
</html>
